TravelGuide_version1.0/TravelGuide/bin/Debug/TravelGuide.exe.config
*.exe
TravelGuide_version1.0/TravelGuide/bin/Debug/TravelGuide.vshost.exe.config
*.manifest
TravelGuide_version1.0/TravelGuide/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TravelGuide_version1.0/TravelGuide/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TravelGuide_version1.0/TravelGuide/obj/Debug/TravelGuide.csproj.FileListAbsolute.txt
TravelGuide_version1.0/TravelGuide/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TravelGuide_version1.0/TravelGuide/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TravelGuide_version1.0/TravelGuide/bin/Debug/TravelGuide.pdb
TravelGuide_version1.0/TravelGuide/obj/Debug/TravelGuide.pdb
TravelGuide_version1.0/TravelGuide/obj/Debug/TravelGuide.csproj.GenerateResource.Cache
TravelGuide_version1.0/TravelGuide/obj/Debug/TravelGuide.csprojResolveAssemblyReference.cache
TravelGuide_version1.0/TravelGuide/obj/Debug/TravelGuide.GuideForm.resources
TravelGuide_version1.0/.vs/Travel/v14/.suo
BudgetTourist/BudgetTourist/obj/Debug/BudgetTourist.csproj.FileListAbsolute.txt
BudgetTourist/BudgetTourist/bin/Debug/BudgetTourist.exe.config
BudgetTourist/BudgetTourist/bin/Debug/BudgetTourist.vshost.exe.config
TravelGuide_version1.0/Travel.v12.suo
TravelGuide_version1.0/TravelGuide/obj/Debug/DesignTimeResolveAssemblyReferences.cache
BudgetTourist/BudgetTourist/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BudgetTourist/BudgetTourist/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BudgetTourist/BudgetTourist/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BudgetTourist/BudgetTourist/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs